@use "./_variables.module.scss" as var;

@mixin flex-col {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

@mixin flex-center {
  display: flex;
  align-items: center;
}

@mixin main-text {
  font-family: var.$font-family-poppins;
  font-size: 16px;
  font-weight: 400;
  color: var.$Text-color-menu;
}

@mixin title-text {
  font-family: var.$font-family-poppins;
  font-size: 32px;
  font-weight: 600;
  color: var.$Text-color-black;
}

@mixin border {
  border-top-left-radius: 2em;
  border-top-right-radius: 2em;
  border-bottom-left-radius: 2em;
  border-bottom-right-radius: 2em;
}
