$font-family-montserrat: "Montserrat", sans-serif;
$font-family-poppins: "Poppins", sans-serif;

$Btn-color: #1b3e39;
$Btn-color-text: #ffffff;
$Btn-color-hover: #fb7d4f;

$Bg-main-color: #f0efe9;
$Bg-color-white: #ffffff;
$Bg-color-beige: #eae6d7;

$Text-color-black: #000000;
$Text-color-menu: #8f8f8f;
$Text-color-active-menu: #fb7d4f;

$Text-color-error: #ff0000;
$Text-color-success: #008000;
$Text-color-info: #0000ff;
$Text-color-warning: #ffa500;
$Text-color-link: #0000ee;
$Text-color-link-hover: #551a8b;
