@use "../../../shared/styles/mixins.module" as mix;
@use "../../../shared/styles/variables.module" as vars;
.wrapper_form {
  @include mix.flex-col;

  height: 450px;
  padding: 2rem;

  &__input {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
  }

  &__label {
    @include mix.main-text;
  }

  &__error {
    @include mix.error-text;
    display: flex;
    justify-content: end;
  }
}
