@use "../../../shared/styles/mixins.module" as mix;
@use "../../../shared/styles/variables.module" as vars;
.btn {
  @include mix.main-text;
  width: 100%;
  height: 3rem;
  background-color: vars.$Btn-color;
  color: vars.$Bg-color-white;
  border: none;
  border-radius: 5px;
  cursor: pointer;

  &:hover {
    background-color: vars.$Btn-color-hover;
    transition: 0.3s;
    opacity: 0.8;
  }
}
